<%= link_to "Create actor", new_actor_path %>
<table>
  <thead>
    <th>Photo</th>
    <th>Name</th>
    <th>Bio</th>
    <th>Birth date</th>
    <th>Birth place</th>
    <th>Death date</th>
    <th>Death place</th>
  </thead>
  <% @actors.each do |actor| %>
    <tr>
      <td> <img src="<%actor.image_url%>" alt="photo"> </td>
      <td><%= actor.name %></td>
      <td><%= actor.bio %></td>
      <td><%= actor.birth_date %></td>
      <td><%= actor.birth_place %></td>
      <% if actor.alive %>
        <td>He is still alive</td>
        <td>He is still alive</td>
        <% else %>
        <td><%= actor.death_date %></td>
        <td><%= actor.death_place %></td>
      <% end %>
    </tr>
  <% end %>
</table>
