<table>
  <thead>
    <th>Foto</th>
    <th>Nombre</th>
    <th>Bio</th>
    <th>Fecha nacimiento</th>
    <th>Lugar nacimiento</th>
    <th>Fecha fallecimiento</th>
    <th>Lugar fallecimiento</th>
  </thead>
  <% @actors.each do |actor| %>
    <tr>
      <td> <img src="<%actor.image_url%>" alt="foto"> </td>
      <td><%= actor.name %></td>
      <td><%= actor.bio %></td>
      <td><%= actor.birth_date %></td>
      <td><%= actor.birth_place %></td>
      <% if actor.alive %>
        <td>He is still alive</td>
        <td>He is still alive</td>
        <% else %>
        <td><%= actor.death_date %></td>
        <td><%= actor.death_place %></td>
      <% end %>
    </tr>
  <% end %>
</table>
